# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.so

# Data / large binaries
*.tar
*.tar.gz
*.zip
data/VOCdevkit/

# Outputs
outputs/

# Temp
tmp/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Environment
.venv/
venv/
